
/*--------------------------------------------------
----------------------- Base styles ----------------
---------------------------------------------------*/

@media (min-width: 1200px) {
    .container {
        width: 1130px !important;
    }
}

#preloader {
    position: fixed;
    width: 100%;
    height: auto;
    min-height: 100%;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 9999;
}

#spinner {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -40px;
    background: url(../images/spinner.GIF) no-repeat;
}
#portfolio .mCSB_container { 
    margin-right: 0 !important; 
}

#custumize-style {
    display: none;
}
label {
    font-weight: 400 !important;
}
.text-left {
    text-align: left !important;
}
.clear {
    clear: both;
}
ul, li, nav {
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 25px;
    color: #333333;
    overflow-x: hidden;
    background-image: url(../images/bg/bg2.png);
    padding: 0;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.wrapper {
    display: block;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 50%; 
    margin: -290.5px auto 0 auto;
}
h1 {
    font-size: 18px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}
.resp-tabs-container h1 {
    font-size: 26px;
    color: #999;
    text-transform: inherit;
    margin-top: 0;
    margin-bottom: 15px;
    padding-bottom: 10px;
    padding-left: 30px;
    border-bottom: 1px solid #e6e6e6;
}

.resp-tabs-container h1:not(.h-bloc) {
    background: none;
}

a {
    text-decoration: none !important;
}


/*--------------------------------------------------
---------------------- resp-tabs -------------------
---------------------------------------------------*/

.icon_menu {
    font-size: 22px;
    -webkit-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    display: inline-block;
    cursor: pointer;
    margin: 0;
    width: 42px !important;
    height: 42px !important;
    text-align: center;
    position: relative;
    z-index: 2;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    line-height: 43px;
}

#verticalTab {
    z-index: 1;
    height: 100%;
    background: #fff;
}
l.resp-tabs-list, p {
    margin: 0;
    padding: 0;
}
.resp-tabs-list li {
    font-size: 13px;
    display: inline-block;
    padding: 13px 15px;
    margin: 0;
    list-style: none;
    cursor: pointer;
    float: left;
}
.resp-tabs-container {
    padding: 0;
    background-color: #fff;
    clear: left;
}
h2.resp-accordion {
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    padding: 0.32em 0em 0.32em 0.70em;
    margin: 0;
    list-style: none;
    cursor: pointer;
    background: #303030; 
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    line-height: 0px;
    cursor: pointer;
    padding: 5px;
    display: none;
}
.resp-tab-content {
    display: none;
}
.resp-tab-active {
    border-bottom: none;
    margin-bottom: -1px !important;
    padding: 12px 14px 14px 14px !important;
}
.resp-tab-active {
    border-bottom: none;
    background-color: #fff;
}
.resp-content-active, .resp-accordion-active {
    display: block;
}
.resp-tab-content {
    border: 1px solid #ccc;
}
h2.resp-accordion {
    font-size: 17px;
    margin: 0;
    padding: 10px 15px;
}
h2.resp-tab-active {
    border-bottom: 1px solid #ccc !important;
    margin-bottom: 0 !important;
    padding: 10px 15px !important;
}
h2.resp-tab-title:last-child {
    border-bottom: 12px solid #ccc !important;
    background: blue;
}
/*-----------------------------------*/
/*-----------Vertical tabs-----------*/
/*-----------------------------------*/

.resp-vtabs ul.resp-tabs-list {
    float: left;
    width: 9%;
    margin-bottom: 10px;
}
.resp-vtabs .resp-tabs-list li {
    display: block;
    padding: 17px !important;
    margin: 0;
    cursor: pointer;
    float: left;
    text-align: center;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2);
}

.resp-vtabs .resp-tabs-list li:first-child {
    border-top: none;
}
.resp-vtabs .resp-tabs-list li:last-child {
    border-bottom: none;
}

.resp-vtabs .resp-tabs-container {	
    padding: 0;
    background-color: #f4f4f4;
    float: left;
    width: 88%;
    height: 580px;
    clear: none;
    margin-left: 13px;
}
.resp-vtabs .resp-tab-content {
    border: none;
}
.resp-vtabs li.resp-tab-active {
    border-right: none;
    color: #fff;
    position: relative;
    z-index: 1;
    padding: 17px !important;
    background: #fff;
}
.resp-tabs-list li:hover {
    -webkit-transition: all .6s ease-in;
    -moz-transition: all .6s ease-in;
    -o-transition: all .6s ease-in;
    transition: all .6s ease-in;
    background: #fff;
}
.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #c1c1c1;
}
h2.resp-tab-active span.resp-arrow {
    border: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #9B9797;
}
/*-----------------------------------*/
/*---------Accordion styles----------*/
/*-----------------------------------*/

.resp-easy-accordion h2.resp-accordion {
    display: block;
}
.resp-easy-accordion .resp-tab-content {
    border: 1px solid #c1c1c1;
}
.resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1 !important;
}
.resp-jfit {
    width: 100%;
    margin: 0;
}
.resp-tab-content-active {
    display: block;
}
h2.resp-accordion:first-child {
    border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 800px) {
    ul.resp-tabs-list {
        display: none;
    }
    h2.resp-accordion {
        display: block;
    }
    .resp-vtabs .resp-tab-content {
        border: 1px solid #C1C1C1;
        padding: 15px;
    }
    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: initial;
        clear: none;
    }
    .resp-accordion-closed {
        display: none !important;
    }
    .resp-vtabs .resp-tab-content:last-child {
        border-bottom: 1px solid #c1c1c1 !important;
    }
    .scrollbar {
        height: 100% !important;
        overflow-y: hidden !important;
    }
    .contact-form .main-heading {
        margin-top: 45px;
    }

    .tiltle_contacts {
        margin-bottom: 0 !important;
    }
    .wrapper {
        position: relative !important;
        margin: 15px auto !important;
    }

    .flexy_content {
        clear: both;
    }
    .resp-vtabs .resp-tabs-container {
        margin-left: 0 !important;
    }
    ul.about li span.value {
        margin-right: 30px;
    }
    .tite-list-resp{
        position: relative;
        top: -3px;
        left: 10px;
    }
    .widget-profil #profile_desc{
        border-top: 0 !important;
        border-bottom: 0 !important;
    }

}
.tite-list {
    padding-left: 5px !important;
    font-size: 13px;
    position: relative;
    top: -6px;
    display:none;
}

.icon-list {
    font-size: 40px !important;
    left: 15px !important;
    text-align: center !important;
    position: relative;
    top: 2px;
}
p {
    font-size: 14px;
    line-height: 22px;
    text-align: left;
    margin: 0;
    color: #999 !important;
    font-family: 'Lato', sans-serif;
}
.active-hi-icon {
    background: #04B2E8 !important;
    border: 1px solid #04B2E8 !important;
}

.resp-tabs-list li:hover .hi-icon, .no-touch .hi-icon-effect-5 .hi-icon:hover {
    background: #04B2E8;
    border: 1px solid #04B2E8 !important;
}
h2.resp-accordion:hover .hi-icon, .no-touch .hi-icon-effect-5 .hi-icon:hover {
    background: #04B2E8;
}
h2.resp-accordion:hover {
    background: #282828;
}

/*--------------------------------------------------
------------------- Google Maps --------------------
---------------------------------------------------*/

#map {
    display: block;
    width: 100% !important;
    height: 300px !important;
    margin: 0 auto;
    -moz-box-shadow: 0 5px 20px #ccc;
    -webkit-box-shadow: 0 5px 20px #ccc;
    box-shadow: 0 5px 20px #ccc;
    border-bottom: 1px solid #CCC;
    border-top: 1px solid #CCC;
}
#map.large {
    height: 500px;
}
.overlay {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 60px;
    line-height: 80px;
    opacity: 0.8;
    background: #4477aa;
    border: solid 3px #336699;
    border-radius: 4px;
    box-shadow: 2px 2px 10px #333;
    text-shadow: 1px 1px 1px #666;
    padding: 0 4px;
}
.overlay_arrow {
    left: 50%;
    margin-left: -16px;
    width: 0;
    height: 0;
    position: absolute;
}
.overlay_arrow.above {
    bottom: -15px;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 16px solid #336699;
}
.overlay_arrow.below {
    top: -15px;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 16px solid #336699;
}
/*--------------------------------------------------
----------------------- Contact --------------------
---------------------------------------------------*/

#contact-user {
    padding: 30px 0;
    overflow: hidden;
}
.contact-info, .contact-form {
    float: left;
    margin-bottom: 30px;
}
.contact-form {
    width: 100%;
}
.contact-info ul {
    float: left;
    margin-left: 0px; 
}
.contact-info ul li {
    font-size: 13px;
    line-height: 20px;
    color: #666;
    overflow: hidden;
    width: 267px;
}
#contactform,
#comment_form {
    padding-left: 0;
}
#contactform p,
#comment_form p {
    margin-bottom: 15px;
}
#contactform p label,
#comment_form p label {
    display: block;
    color: #999;
    margin-bottom: 8px;
    font-size: 13px;
}
#contactform .input,
#comment_form .input {
    line-height: 20px;
    height: 20px;
    width: 60%;
}
#contactform .textarea,
#comment_form .textarea {
    width: 95%;
}
#contactform .submit, #contactform .reset,
#comment_form .submit, #comment_form .reset {
    color: #fff;
    padding: 8px;
    border: none;
    cursor: pointer;
    font-size: 13px;
    margin-left: 23px;
}
#contactform .submit:hover,
#comment_form .submit:hover {
    -webkit-filter: brightness(98%) !important;
}

#contactform .reset:hover,
#comment_form .reset:hover {
    background-color: #666;
    -webkit-filter: brightness(98%);
}
#contactform .reset,
#comment_form .reset {
    background-color: #999999;
    width: 120px;
}
#contactform .input, .textarea,
#comment_form .input, .textarea {
    padding: 6px;
    background-color: #f5f5f5;
    border: 1px solid #CCC;
    color: #999;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 13px;
}
#icon-status {
    cursor: pointer;
}
#maps-status {
    text-align: center;
    border: 3px solid #2f9b68;
    color: #2f9b68;
    width: 34px;
    margin: 0 auto;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
#maps-status:hover {
    color: #fff;
    background: #2f9b68;
}
#contact {
    background-color: #fff;
}
.resp-tabs-list li span {
    text-transform : uppercase;
}

.content_2 {
    height: 580px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;		
}

/*--------------------------------------------------
----------------------- Portfolio ------------------
---------------------------------------------------*/

.container-portfolio { 
    position: relative; 
    width: 100%; 
    margin: 0 auto; 
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;	
}

#filters {
    margin:1%;
    padding:0;
    list-style:none;
    display: inline-block;

}

#filters li {
    float:left;
    text-align: center;
}

#filters li span {
    display: block;
    padding:5px 20px;		
    text-decoration:none;
    color:#fff;
    cursor: pointer;
    background: #577285;
    margin: 2px;
}

#filters li span.active {
    color:#fff;
}

#portfoliolist .portfolio {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    width:31%;
    margin:1%;
    display:none;
    float:left;
    overflow:hidden;
}

.portfolio-wrapper {
    overflow:hidden;
    position: relative !important;
    background: #666;
    cursor:pointer;
}

.portfolio img {
    max-width:100%;
    position: relative;
}

.portfolio .label {
    position: absolute;
    width: 100%;
    height:40px;
    bottom:-40px;
    display: block !important;
}

.portfolio .label-bg {
    width: 100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
}

.portfolio .label-text {
    color:#fff;
    position: relative;
    z-index:500;
    padding:5px 8px;
    font-weight:300;
}

.portfolio .text-title {
    display:block;
    font-size:13px;
    margin: 1px;
    color : #fff;
    text-transform:capitalize;
}
#fancybox-title {
    margin-left: 10px !important;
    width: 380px !important;
    bottom: 10px !important;
    display: block !important;
}


@media only screen and (max-width: 767px) {

    #portfoliolist .portfolio {
        width:48%;
        margin:1%;
    }	

    .widget-profil,
    .flexy_content {
        margin-left: 10px;
        margin-right: 10px;
    }

}

@media only screen and (max-width: 550px) {

    #filters li  {
        width: 100%;
    }

    #profile .cycle-slideshow {
        display: none;
    }

}

/* #Clearing */
/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0; }
.row:after,
.clearfix:after {
    clear: both; }
.row,
.clearfix {
    zoom: 1; }

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

/*--------------------------------------------------
---------------------- Title  ---------------------
---------------------------------------------------*/
.title_content {
    display: inline-block;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid #DDD;
}

.title_content:after {
    height: 1px;
    display: block;
    left: 0;
    content: " ";
    position: relative;
    width: 30px;
    top: 1px;
}

.text_content {
    display: inline-block;
    float: left;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    padding-top: 2px;
    margin-bottom: 5px;
}
/*--------------------------------------------------
---------------------- Profile ---------------------
---------------------------------------------------*/
#profile .about i.glyphicon  {
    margin-right: 3px;
}

#profile .profile-r {
    padding-right: 0;
}
#profile .cycle-slideshow {
    margin-top: 19px;
    margin-bottom: 20px;
    width: 348px;
    height: 456px;
}
#profile .cycle-slideshow img {
    width: 100%;
}
.bottom-p .panel-body {
    padding: 15px;
    color: #999 !important;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}
.bottom-p .panel-group .panel {
    border-radius:0px;
}

.bottom-p .panel-heading {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

ul.about li span.value {
    width: 220px;
    text-align: left;
    float: right;
}
ul.about li {
    margin: 0;
    color: #717171;
    display: block;
    font-size: 13px;
    border-bottom: 1px solid #e6e6e6;
}

ul.about li:last-child {
    border-bottom: none;
}
ul.about {
    margin-bottom: 30px;
}

#profile .bottom-p  {
    margin-top: 20px;
}

#profile .bottom-p p {
    border-left:0;
}


#profile .bottom-p h3 {
    margin-top: 60px;
    margin-bottom: 20px;
}
/** style profile 3 **/
.ch-grid-prof {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}
.ch-grid-prof:after, .ch-item-prof:before {
    content: '';
    display: table;
}
.ch-grid-prof:after {
    clear: both;
}
.ch-grid-prof li {
    width: 220px;
    height: 220px;
    display: inline-block;
    margin: 20px;
}
.ch-items-prof {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    cursor: default;
    box-shadow: inset 0 0 0 5px rgba(255,255,255,0.6), 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 0 0 3px rgba(255,255,255,0.6), 0 1px 2px rgba(0,0,0,0.1);
    transition: all 0.4s ease-in-out;
    margin: 0 auto;
    margin-bottom: 10px;
}
.ch-info-prof {
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    transform: scale(0);
}
.ch-info-prof h3 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 25px;
    margin: 0 auto;
    padding: 50px 0 0 0;
    text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0,0,0,0.3);
    line-height: 22px;
    border: none;
}
.ch-info-prof p {
    color: #fff;
    padding: 10px 5px;
    font-style: italic;
    margin: 0 30px;
    font-size: 12px;
    border-top: 1px solid rgba(255,255,255,0.5);
    opacity: 0;
    transition: all 1s ease-in-out 0.4s;
}
.ch-info-prof p a {
    display: block;
    color: rgba(255,255,255,0.7);
    font-style: normal;
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 1px;
    padding-top: 4px;
}
.ch-info-prof p a:hover {
    color: rgba(255,242,34, 0.8);
}
.ch-items-prof:hover {
    box-shadow: inset 0 0 0 1px rgba(255,255,255,0.1), 0 1px 2px rgba(0,0,0,0.1);
}
.ch-items-prof:hover .ch-info-prof {
    transform: scale(1);
    opacity: 1;
}
.ch-items-prof:hover .ch-info-prof p {
    opacity: 1;
}


/*--------------------------------------------------
------------------- porfil-widget --------------------
---------------------------------------------------*/

.widget-profil{
    height: 580px;   
    float: right; 
}
.widget-profil .circle {
    display: block;
    width: 150px;
    height: 150px;
    margin: 1em auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
}

.widget-profil .circle-img {
    display: block;
    width: 150px;
    height: 150px;
    margin: 1em auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    background-image: url('http://placehold.it/150x150');
    margin-top: 25px;
    margin-bottom: 7px;
}

.widget-profil  h1 {
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    font-weight: 400;

}

.widget-profil  h4 {
    text-align: center;
    font-size: 15px;
    margin-top: 0px;  

}
.widget-profil  h6 {
    text-align: center;
    font-size: 14px;
    font-weight: 400;

}

.widget-profil  p {
    border-left: 0px;
}

.widget-profil #profile_desc
{
    padding-top: 15px;
    padding-bottom: 15px;
}

.widget-profil #profile_info
{
    padding-bottom: 15px;
}

.widget-profil #profile_social
{
    padding-top: 15px;
}

#profile_social a{
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin: 0px 0px 0px 5px;
    padding: 0;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    font-size: 24px;
    float: left;
    display: block;
    color : #fff;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

#profile_social a:hover{
    background-color: #fff;
}
.widget-profil .image-holder{
    position: relative;
    margin: 15px auto;
    width: 150px;
    height: 150px;
}

.widget-profil .head-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
}

.widget-profil  .head-image{
    z-index: 0;
}
.widget-profil  .front{
    z-index: 1;
}

@media only screen and (min-width: 1200px) {

    .widget-profil #profile_social a{ 
        width: 45px;	
        height: 45px;	
        line-height: 45px;	
        font-size: 24px;	
    }
    .widget-profil h1 {
        font-size: 25px;
        line-height: 60px;
    }
}

@media only screen and (max-width: 1199px) {

    .widget-profil #profile_social a { 
        width: 34px;	
        height: 34px;	
        line-height: 34px;	
        font-size: 20px;	
    }

    .widget-profil h1 {
        font-size: 24px;
        line-height: 50px;
    }

}

@media only screen and (max-width: 260px) {
    .widget-profil h1 {
        font-size: 25px !important;
        line-height: 39px !important;
    }

    .widget-profil h4 {
        font-size: 13px !important;
    }

    .widget-profil{ 	
        height: 265px !important;
        margin-bottom: 20px;
        float: none;
    }
    #profile_social {
        display: none;
    }
    #profile_desc {
        display:none;
    }
}

@media only screen  and (max-width: 766px) {
    .widget-profil{ 	
        height: 285px !important;
        margin-bottom: 20px;
        float: none;
    }
    #profile_social {
        display: none;
    }
    #profile_desc {
        display:none;
    }

    .widget-profil h1 {
        font-size: 22px !important;
        line-height: 39px !important;
    }

    .widget-profil h4 {
        font-size: 13px !important;
    }
}

@media only screen and (min-width : 766px) and (max-width: 800px) {
    .widget-profil{ 	
        height: 210px !important;
        margin-bottom: 20px;
        float: none;
    }
    #profile_social {
        display: none;
    }
}

@media only screen and (min-width : 550px) and (max-width : 991px) {
    #profile .cycle-slideshow {
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

@media only screen and (min-width : 800px) and (max-width : 991px) {

    .widget-profil{ 	
        height: 210px !important;	
        margin-bottom: 20px;
        float: none;
    }

    #profile_social {
        display: none;
    }
    #profile_desc {
        border-bottom: 0 !important;
    }
}

/*--------------------------------------------------
------------- buttion download vcard ---------------
---------------------------------------------------*/

/* Effect 10: reveal, push out */


.download {
    position: relative;
    display: block;
    margin: 20px 25px;
    outline: none;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    font-size: 1.35em;
    text-align: center;
}
.download:hover, .download:focus {
    outline: none;
}
.download {
    line-height: 2em;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    perspective: 800px;
}
.download span {
    position: relative;
    display: inline-block;
    padding: 3px 15px 0;
    /*box-shadow: inset 0 3px #0390bb;*/
    -webkit-transition: background 0.6s;
    -moz-transition: background 0.6s;
    transition: background 0.6s;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
}
.download span::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    content: attr(data-hover);
    -webkit-transform: rotateX(270deg);
    -moz-transform: rotateX(270deg);
    transform: rotateX(270deg);
    -webkit-transition: -webkit-transform 0.6s;
    -moz-transition: -moz-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
    pointer-events: none;
}
.download:hover span::before, .download:focus span::before {
    -webkit-transform: rotateX(10deg);
    -moz-transform: rotateX(10deg);
    transform: rotateX(10deg);
}
/*--------------------------------------------------
---------------------- Resume ----------------------
---------------------------------------------------*/

#resume .col-md-6 span.duration {
    float: right;
}
#resume .col-md-6 ul li {
    list-style: none;
    margin-top: 20px;
}
#resume .resume-left ul li h5 {
    padding-bottom: 10px;
}

#resume .attributes li.first{
    margin-top: 0 !important;
}

#resume .attributes .duration i{
    margin-right: 5px;
}

#resume h5,
#resume h6 {
    font-weight:400 !important;
}

.img_reference {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-right: 15px;
    float: left;
    border-radius: 50px;
}

.reference p {
    padding-top: 15px;
}
.reference ul {
    margin-top: 15px;
}

.reference ul li {
    margin-top: 15px;
}

/*--------------------------------------------------
------------------- Skills bar ---------------------
---------------------------------------------------*/


.skillbar {
    position: relative;
    display: block;
    margin-bottom: 15px;
    width: 100%;
    background: #eee;
    height: 22px;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -ms-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -ms-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
}
.skillbar-title {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 11px;
    color: #fff;
    text-transform: capitalize;
}
.skillbar-title span {
    display: block;
    background: rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    height: 22px;
    line-height: 22px;
}
.skillbar-bar {
    height: 22px;
    width: 0;
}
.skill-bar-percent {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 11px;
    height: 22px;
    line-height: 22px;/*35*/
    color: #444;
    color: rgba(0, 0, 0, 0.4);
}


/*--------------------------------------------------
------------------------ Blog ----------------------
---------------------------------------------------*/

.blog-article {
    padding-top: 37px;
    padding-bottom: 35px;
}

.blog-article .post_media{
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    background: rgba(255, 255, 255, 0.8);
    padding-bottom: 15px;
}

.blog-article .post_content{
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    background: rgba(255, 255, 255, 0.8);
    padding: 15px;
    padding-top:0;
}

.blog-article .post_media_detail{
    width: 100% !important;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    float: left !important;
    background: rgba(255, 255, 255, 0.8) !important;
    padding-bottom: 15px !important;
}

.blog-article .media {
    margin-top: 15px;
    display: block;
    max-width: 100%;
    line-height: 1;
    width: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    /* height: 205px;*/
}

.blog-article:first-child .media {
    height: auto;
}

.blog-article .media img {
    width: 100% !important;
}

.media .img-hover {
    width: 100% !important;
}

.blog-article:first-child {
    padding-top: 0;
}
.blog-article.v2 span.date {
    margin-top: 0;
}
.blog-article span.date {
    color: #222;
    text-transform: uppercase;
    font-size: 13px;
    margin-top: 25px;
    float: left;
    width: 100%;
}
.blog-article h1 {
    margin-top: 30px;
    margin-bottom: 5px;
    float: left;
    width: 100%;
    line-height: 20px;
    color: #222222;
    font-size: 20px;
}
.blog-article .blog-content {
    float: left;
    width: 100%;
    margin-top: 28px;
}
.blog-article .info {
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
    margin-top: 15px;
    list-style: none;
}
.blog-article .info li {
    padding-left: 7px;
    padding-right: 7px;
    border-left: 1px solid #999999;
    color: #585858;
    float: left;
    line-height: 13px;
    font-size: 12px;
}
.blog-article .info li:first-child {
    padding-left: 0;
    border-left: none;
}
.blog-article a.read_m {
    position: relative;
    float: left;
    margin-top: 28px;
    padding-right: 15px;
    display: inline-block;
    width: 200px;
    padding: 5px 2px;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    border: 1px solid #dadada;
}
.blog-article a.read_m:hover {
    color: #FFF;
    padding: 6px;
    transition-property: border;
    transition-duration: 1s;
    transition-timing-function: linear;
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: linear;
}
.blog-article .blog-content p:first-child {
    padding-top: 0;
    margin-top: 0;
}
.blog-article .blog-content p:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
}
.blog-article:last-child {
    border-bottom: none;
}
.border-list {
    width: 80%;
    margin: auto;
    margin-top: 30px;
}
.blog-article .img-hover {
    opacity: 0.5;
    transition: opacity 0.7s ease-out 0.2s;
    -moz-transition: opacity 0.7s ease-out 0.2s;
    -webkit-transition: opacity 0.7s ease-out 0.2s;
}
.blog-article .img-hover:hover {
    opacity: 1;
    transition: opacity 1s ease-out 0.2s;
    -moz-transition: opacity 1s ease-out 0.2s;
    -webkit-transition: opacity 1s ease-out 0.2s;
}
#carousel-example-captions p {
    color: #fff !important;
}
.postPage .postImg {
    margin-top: 0;
    margin-right: 30px;
    margin-bottom: 15px;
    margin-left: 0;
    cursor: default;
}
.postPage .postImg {
    max-width: 100%;
}
.postPage .postVideo {
    width: 100%;
    height: 300px;
    margin-top: 0;
    margin-right: 30px;
    margin-bottom: 15px;
    margin-left: 0;
    cursor: default;
}
.postPage p.caps:first-letter {
    font-size: 4em;
    margin: 0;
    padding: 0 3px 0 0;
    color: #CCCCCC;
    font-style: normal;
}
.tag {
    background: #DDDDDD;
    color: #000000;
    margin: 10px 0 10px 0;
    padding: 3px 6px;
    display: inline-block;
}
a.readmore {
    margin: 0 0 0 5px;
    padding: 7px 10px 8px 10px;
    font-size: 0.9em;
    float: right;
}
a.readmore:hover, a.readmore:focus, a.readmore:active {
    text-decoration: none;
}
a.readmore.disabled {
    cursor: default;
    background-color: #FFF!important;
    color: #999!important;
    border: 1px solid #999!important;
}
a.readmore:visited, a.readmore {
    border: 1px solid #dadada;
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    border: 1px solid #dadada;
    margin-bottom: 10px
}
a.readmore:hover, a.readmore:focus, a.readmore:active {
    color: #FFF;
    transition-property: border;
    transition-duration: 1s;
    transition-timing-function: linear;
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: linear;
}
ul.info-post li:first-child {
    margin-left: 0px;
}
ul.info-post li {
    float: left;
    margin-left: 10px;
}
.content-post h1 {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
    line-height: 20px;
    color: #222222;
    font-size: 20px;
}
.comment_form p {
    border: none;
}
.arrow-tabs {
    float: right;
    margin-top: 13px;
    font-size: 12px !important;
}
/** sidebar blog **/


#sidebar-right .search-blog, #sidebar-left .search-blog {
    margin-bottom: 15px;
}
#sidebar-right .search-blog input, #sidebar-left .search-blog input {
    padding-right: 25px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #585858;
    border: 1px solid #dedede;
    background: #fafafa;
    display: inline-block;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}
#sidebar-right .search-blog i, #sidebar-left .search-blog i {
    cursor: pointer;
    width: 30px;
    height: 37px;
    display: block;
    position: absolute;
    right: 15px;
    top: 57px;
    padding: 0;
    margin: 0;
    line-height: 37px;
    text-align: center;
    background: #da6d0d;
    color: #fff;
    z-index: 11;
}
#section-title {
    margin: 0 0 15px 0;
    padding: 5px 0 8px 0;
    font-size: 18px;
    text-transform: uppercase;
    height: 42px;
    font-size: 16px;
    text-align: left;
    line-height: 28px;
    color:#fff;
    padding-left: 15px;
}
#categories_sidebar ul.categories {
    list-style: none;
    margin: 0;
    padding: 0 !important;
    border: 1px solid #e0eded;
    overflow: hidden;
}
#categories_sidebar ul.categories li {
    border-bottom: 1px solid #e0eded;
    position: relative;
}
#categories_sidebar ul.categories li a {
    display: block;
    padding: 10px 15px;
}
#categories_sidebar a {
    color: #616161;
    cursor: pointer;
}
#categories_sidebar ul.categories {
    list-style: none;
    margin: 0;
    padding: 0 !important;
    border: 1px solid #e0eded;
    overflow: hidden;
}
#categories_sidebar ul.categories li {
    border-bottom: 1px solid #e0eded;
    position: relative;
}
#categories_sidebar ul.categories li:last-child {
    border: 0;
}
#categories_sidebar ul.categories li a {
    display: block;
    padding: 10px 15px;
}
#categories_sidebar ul.categories li a:hover {
    color: #FFF;
    text-decoration: none;
}
#categories_sidebar ul.categories li a i {
    display: inline-block;
    vertical-align: middle;
    font-style: normal;
    color: #999;
    font-size: 11px;
    float: right;
    margin-top: 7px;
}
#categories_sidebar ul.categories li a:hover i {
    color: #FFF;
}
#tabs_sidebar .nav>li>a {
    position: relative;
    display: block;
    padding: 3px;
    padding: 3px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 12px;
}
#tabs_sidebar .tab-content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#tabs_sidebar .tab-content ul li {
    clear: left;
    border-bottom: 1px dotted #c1c1c1;
    padding: 10px 0;
    display: block;
    width: 100%;
}
#tabs_sidebar .tab-content ul li:last-child {
    border-bottom: none;
}
#tabs_sidebar .tab-content ul li img {
    width: 50px;
    height: 40px;
    ;
}
#tabs_sidebar .img-thumbnail {
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
#tabs_sidebar .tab-content ul li p {
    margin-left: 55px;
    font-size: 12px;
    line-height: 20px;
    font-style: italic;
    text-align: left;
    color: #777;
    border-left: none;
    padding: 0 !important;
}
#tags .tags_sidebar .tags-list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}
#tags .tags_sidebar .tags-list li {
    background: #FFF;
    padding: 5px;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 12px;
}
#tags .tags_sidebar .tags-list li a {
    margin-left: 4px
}
#tags .tags_sidebar .tags-list li:hover {
    color: #FFF
}
#tags .tags_sidebar .tags-list li:hover a {
    color: #FFF;
    text-decoration: none
}
#tabs_sidebar, #tags, #archive, #tweets, #about {
    margin-top: 25px;
}
#archive .categories .item i {
    font-size: 11px;
}
#archive .categories .item a {
    color: #555555;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#archive .categories .item a:hover {
    color: #008ec3;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#tweets strong.date {
    font-weight: bold;
}
#tweets .tweets li {
    border-bottom: 1px dotted #c1c1c1;
    margin: 8px 0;
}
#tweets .tweets li:last-child {
    border-bottom: none;
}

.blog-article .content-post .about_author {
    background: rgba(100, 100, 100, 0.1);
    margin-bottom: 15px;
    margin-top: 15px;
}

.prg_content {
    background-color: #f7f7f7;
    color: #999;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 13px;
    padding-bottom: 10px;
}

.prg_content img {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-right: 15px;
    float: left;
    border-radius: 50px;
}


#blog .post_comments .comment{
    background: rgba(100, 100, 100, 0.1);
    padding: 13px;
    margin-bottom: 15px;
}

#blog .post_comments .comment{
    padding:0;
    padding: 10px;
    background-color: #f7f7f7;
    color: #999;
}

#blog .post_comments .comment.sub{
    margin-left: 50px;
    float: left;
    padding-left: 13px;
    padding-top: 15px;
    margin-bottom: 0;
    margin: 12px 0 0 60px;
    padding-bottom: 0;
    border-bottom: 0;
    border-top: 1px solid #eee;
}

#blog .post_comments .comment img{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 15px;
    float: left;
    border-radius: 50px;
}

#blog .post_comments .comment .text{
    display: inline-block;
    width:84%;
    line-height: 18px;
    float: left;
}

#blog .post_comments .comment.sub .text{
    width: 81%;
}

#blog .post_comments .comment .name,
#blog .post_comments .comment .date{
    width: 100%;
    margin-bottom: 5px;
}

#blog .post_comments .comment .name{
    font-size: 16px;
}

#blog .post_comments .comment .date{
    color:#777777;
}

.about_author .title:after{
    width: 165px;
}

#blog .post_comments > .title:after{
    width:195px;
}

#blog .post_comments .comment_form > .title:after{
    width: 210px;
}

#blog .post_comments .comment_form .form input{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-bottom: 5px;
    font-family: 'Lato', sans-serif;
}

#blog .post_comments .comment_form .form textarea{
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-bottom: 5px;
    font-family: 'Lato', sans-serif;
}

#blog .post_comments .comment_form .form .post_comment_btn{
    float: left;
}

.reply {
    font-size: 14px;
    margin-left: 20px;
    transition: color 0.2s ease 0s;
}

/*--------------------------------------------------
------------ fullscreen slide ----------------------
---------------------------------------------------*/

.cb-slideshow, .cb-slideshow:after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}
.cb-slideshow:after {
    content: '';
    background: transparent url(../images/pattern.png) repeat top left;
}
.cb-slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 36s linear infinite 0s;
    -moz-animation: imageAnimation 36s linear infinite 0s;
    -o-animation: imageAnimation 36s linear infinite 0s;
    -ms-animation: imageAnimation 36s linear infinite 0s;
    animation: imageAnimation 36s linear infinite 0s;
}
.cb-slideshow li div {
    z-index: 1000;
    position: absolute;
    bottom: 10px;
    left: 0px;
    width: 100%;
    text-align: right;
    opacity: 0;
    -webkit-animation: titleAnimation 36s linear infinite 0s;
    -moz-animation: titleAnimation 36s linear infinite 0s;
    -o-animation: titleAnimation 36s linear infinite 0s;
    -ms-animation: titleAnimation 36s linear infinite 0s;
    animation: titleAnimation 36s linear infinite 0s;
}
.cb-slideshow li div h3 {
    font-family: 'Lato', sans-serif;
    font-size: 160px;
    padding: 0 30px;
    line-height: 120px;
    color: rgba(169,3,41, 0.8);
}
.cb-slideshow li:nth-child(1) span {
    background-image: url(http://placehold.it/1000x667/7c7979/ffffff)
}
.cb-slideshow li:nth-child(2) span {
    background-image: url(http://placehold.it/1000x667/8e8888/ffffff);
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) span {
    background-image: url(http://placehold.it/1000x667);
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) span {
    background-image: url(http://placehold.it/1000x667);
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) span {
    background-image: url(http://placehold.it/1000x667);
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) span {
    background-image: url(http://placehold.it/1000x667);
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s;
}
.cb-slideshow li:nth-child(2) div {
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) div {
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) div {
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) div {
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) div {
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s;
}
@-webkit-keyframes imageAnimation {
    0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
}
8% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    -webkit-animation-timing-function: ease-out;
}
17% {
    opacity: 1;
    -webkit-transform: scale(1.1) rotate(3deg);
}
25% {
    opacity: 0;
    -webkit-transform: scale(1.1) rotate(3deg);
}
100% {
    opacity: 0
}
}
@-moz-keyframes imageAnimation {
    0% {
    opacity: 0;
    -moz-animation-timing-function: ease-in;
}
8% {
    opacity: 1;
    -moz-transform: scale(1.05);
    -moz-animation-timing-function: ease-out;
}
17% {
    opacity: 1;
    -moz-transform: scale(1.1) rotate(3deg);
}
25% {
    opacity: 0;
    -moz-transform: scale(1.1) rotate(3deg);
}
100% {
    opacity: 0
}
}
@-o-keyframes imageAnimation {
    0% {
    opacity: 0;
    -o-animation-timing-function: ease-in;
}
8% {
    opacity: 1;
    -o-transform: scale(1.05);
    -o-animation-timing-function: ease-out;
}
17% {
    opacity: 1;
    -o-transform: scale(1.1) rotate(3deg);
}
25% {
    opacity: 0;
    -o-transform: scale(1.1) rotate(3deg);
}
100% {
    opacity: 0
}
}
@-ms-keyframes imageAnimation {
    0% {
    opacity: 0;
    -ms-animation-timing-function: ease-in;
}
8% {
    opacity: 1;
    -ms-transform: scale(1.05);
    -ms-animation-timing-function: ease-out;
}
17% {
    opacity: 1;
    -ms-transform: scale(1.1) rotate(3deg);
}
25% {
    opacity: 0;
    -ms-transform: scale(1.1) rotate(3deg);
}
100% {
    opacity: 0
}
}
@keyframes imageAnimation {
    0% {
    opacity: 0;
    animation-timing-function: ease-in;
}
8% {
    opacity: 1;
    transform: scale(1.05);
    animation-timing-function: ease-out;
}
17% {
    opacity: 1;
    transform: scale(1.1) rotate(3deg);
}
25% {
    opacity: 0;
    transform: scale(1.1) rotate(3deg);
}
100% {
    opacity: 0
}
}
@-webkit-keyframes titleAnimation {
    0% {
    opacity: 0;
    -webkit-transform: translateX(200px);
}
8% {
    opacity: 1;
    -webkit-transform: translateX(0px);
}
17% {
    opacity: 1;
    -webkit-transform: translateX(0px);
}
19% {
    opacity: 0;
    -webkit-transform: translateX(-400px);
}
25% {
    opacity: 0
}
100% {
    opacity: 0
}
}
@-moz-keyframes titleAnimation {
    0% {
    opacity: 0;
    -moz-transform: translateX(200px);
}
8% {
    opacity: 1;
    -moz-transform: translateX(0px);
}
17% {
    opacity: 1;
    -moz-transform: translateX(0px);
}
19% {
    opacity: 0;
    -moz-transform: translateX(-400px);
}
25% {
    opacity: 0
}
100% {
    opacity: 0
}
}
@-o-keyframes titleAnimation {
    0% {
    opacity: 0;
    -o-transform: translateX(200px);
}
8% {
    opacity: 1;
    -o-transform: translateX(0px);
}
17% {
    opacity: 1;
    -o-transform: translateX(0px);
}
19% {
    opacity: 0;
    -o-transform: translateX(-400px);
}
25% {
    opacity: 0
}
100% {
    opacity: 0
}
}
@-ms-keyframes titleAnimation {
    0% {
    opacity: 0;
    -ms-transform: translateX(200px);
}
8% {
    opacity: 1;
    -ms-transform: translateX(0px);
}
17% {
    opacity: 1;
    -ms-transform: translateX(0px);
}
19% {
    opacity: 0;
    -ms-transform: translateX(-400px);
}
25% {
    opacity: 0
}
100% {
    opacity: 0
}
}
@keyframes titleAnimation {
    0% {
    opacity: 0;
    transform: translateX(200px);
}
8% {
    opacity: 1;
    transform: translateX(0px);
}
17% {
    opacity: 1;
    transform: translateX(0px);
}
19% {
    opacity: 0;
    transform: translateX(-400px);
}
25% {
    opacity: 0
}
100% {
    opacity: 0
}
}
/* Show at least something when animations not supported */
.no-cssanimations .cb-slideshow li span {
    opacity: 1;
}

@media screen and (max-width: 1140px) {
    .cb-slideshow li div h3 {
        font-size: 100px
    }
}

@media screen and (max-width: 600px) {
    .cb-slideshow li div h3 {
        font-size: 50px
    }		

    #services .pack-service {
        width: 100% !important;
    }

}

#loading_page {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 48px;
    height: 48px;
    line-height: 48px;
    margin: -80px 0 0 -30px;
    padding: 6px;
}

.form-control {
    border-radius: 0 !important;
}

.icon_content i {
    margin-right: 2px;
}
/*--------------------------------------------------
---------------------- All Media -------------------
---------------------------------------------------*/

@media screen and (max-width: 240px) {

    .download {
        font-size: 7px;
    }

    .title_content:after {
        width: 155px;
    }

    ul.about li {
        padding-left: 2px;
        font-size: 9px;
    }

    #profile .about i.glyphicon {
        margin-right: 0;
    }

    p {
        font-size: 12px;
    }

    .bottom-p .panel-body {
        padding: 11px;
        font-size: 11px;
        text-align: justify;
    }

    .panel-title {
        font-size: 13px;
    }
    .text_content {
        font-size: 13px;
    }
    .resp-tabs-container h1 {
        font-size: 11px;
    }

    h5, .h5 {
        font-size: 9px !important;
    }

}

@media screen and (max-width: 320px) {
    .download {
        font-size: 11px;
    }

    ul.about li {
        font-size: 11px;
        margin:0;
    }
    ul.about li span.value {
        float: none;
    }
    .text_content {
        font-size: 12px;
    }

    #blog .text_content {
        font-size: 10px;
    }
    .blog-article .media,
    .media iframe,
    .postPage .postVideo {
        height: 130px !important;
    }

    #blog .post_comments .comment.sub {
        margin: 0;
    }

    #blog .post_comments .comment .text {
        float: none;
    }

    .attributes h5 {
        font-size: 13px;
    }
    .text_content {
        font-size: 10px;
        padding-top: 0;
        margin-top: 0;
    }

    .portfolio .label-text {
        font-size: 10px;
    }

    .blog-article a.read_m {
        width: 100%;
    }

    .tag {
        display: block;
        text-align: center;
    }

    a.readmore:visited, a.readmore {
        text-align: center;
        width: 100%;
    }

    .contact-info,
    #contactform .reset, 
    #comment_form .reset,
    section.button-demo {
        width: 100%;
    }
}

@media screen and (max-width: 384px) {
    .download {
        font-size: 11px;
    }

    ul.about li {
        font-size: 11px;
        margin:0;
    }
    ul.about li span.value {
        float: none;
    }
    .text_content {
        font-size: 12px;
    }

    #blog .post_comments .comment.sub {
        margin: 0px;
    }

    #blog .post_comments .comment .text {
        float: none;
    }

    a.readmore:visited, a.readmore{
        font-size: 13px;
    }

    #contactform .submit, #contactform .reset, 
    #comment_form .submit, #comment_form .reset {
        margin-left: 0;
    }

}

.h3_modal {
    margin-bottom: 15px !important;
    padding-bottom: 0 !important;
    border-bottom: none !important;
}

@media screen and (max-width: 554px) {
    .resp-tabs-container h1 {
        font-size: 15px;
    }

    .blog-article .info li:first-child {
        border-left: none;
        float:none;
    }
    .blog-article .info li {
        padding-top: 7px;
        border-left: none;
        padding-left: 0px;
        float:none;
    }
    ul.info-post li {
        float:none;
        margin-left: 0;
    }


    .blog-article .media {
        height: 205px;
    }

    .media iframe {
        height: 205px;
    }

    .prg_content {
        text-align:center;
    }

    .prg_content img {
        float: none;
    }

    .comments {
        text-align:center;
    }

    #blog .post_comments .comment img{
        float: none;
    }

    #blog .post_comments .comment.sub {
        margin: 0px;
    }

    #blog .post_comments .comment .text {
        float: none;
    }


    #comment_form .reset {
        width: 100%;
        margin-left: 0;
    }

    button.submit {
        width: 100%;
        margin-top:5px;
        margin-left: 0;
    }

    .blog-article a.read_m { width: 100%; }

}


@media screen and (min-width:850px) and (max-width: 1200px)  { 
    .resp-vtabs .resp-tabs-container { 
        width:89%; 
    }
}

@media screen and (max-width: 1200px) {

    ul.about li span.value {
        width: 196px;
    }
}

/* The CSS */
select {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    cursor:pointer;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}

.dropdown-select {
    position: relative;
    width: 200px;
    margin: 0;
    padding: 6px 20px;
    height: 30px;
    line-height: 14px;
    font-size: 12px;
    color: #fff;
    /* Fallback for IE 8 */
    background: #3C3E40;
    border: 0;
    border-radius: 0;
    margin-top: 10px;
    margin-left: 12px;

    &:focus {
        z-index: 3;
    width: 100%;
    color: #394349;
    outline: 2px solid #49aff2;
    outline: 2px solid -webkit-focus-ring-color;
    outline-offset: -2px;
}

> option {
    margin: 3px;
    padding: 6px 8px;
    text-shadow: none;
    background: #f2f2f2;
    border-radius: 3px;
    cursor: pointer;
}
}

/* Fix for IE 8 putting the arrows behind the select element. */
.lt-ie9 {
    .dropdown { z-index: 1; }
.dropdown-select { z-index: -1; }
.dropdown-select:focus { z-index: 3; }
}

/* Dirty fix for Firefox adding padding where it shouldn't. */
@-moz-document url-prefix() { .dropdown-select { padding-left: 6px; } }

.dropdown-dark {
    background: #444;
    border-color: #111 #0a0a0a black;
    @include linear-gradient(top, transparent, rgba(black, .4));
    @include box-shadow(inset 0 1px rgba(white, .1), 0 1px 1px rgba(black, .2));

    &:before { border-bottom-color: #aaa; }
&:after { border-top-color: #aaa; }

.dropdown-select {
    color: #aaa;
    text-shadow: 0 1px black;
    /* Fallback for IE 8 */
    background: #444;

    &:focus { color: #ccc; }

> option {
    background: #444;
    text-shadow: 0 1px rgba(black, .4);
}
}
}

li h6{
    font-size: 13px;
}
.panel{
    border:none !important;	
}

#services .pack-service {
    position: relative;
    min-height: 1px;
    float: left;
    width: 32%;
    margin: 1% 1% 0 0;
    padding: 2%;
    cursor: pointer;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}
#services .pack-service:hover {
    background: #fff;
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.05);
}
#services .alpha {margin: 1% 0 0 0;}
#services .service-icon {
    width: 92px;
    margin: 0 auto;
}
#services .service-icon i {
    display: block;
    width: 86px;
    height: 86px;
    border-radius: 50%;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}
#services .pack-service:hover .service-icon i {
    border: 3px solid #ccc;
    color: #fff;
    transform: scale(1) rotate(360deg);
    -webkit-transform: scale(1) rotate(360deg);
    -moz-transform: scale(1) rotate(360deg);
    -o-transform: scale(1) rotate(360deg);
}
#services .service-detail h6 {
    text-transform: uppercase;
    font-weight: 400;
    margin: 10px 0 3px 0;
    text-align: center;
    font-size: 15px !important;
}
#services .service-detail p {
    text-align: center;
    border-left: 0;
}

#blog .post_media  .post-format-icon {
    display: block;
    line-height: 26px;
    width: 55px;
    height: 55px;
    position: absolute;
    top: -29px;
    left: 50%;
    z-index: 9;
    text-align: center;
    color: #FFF;
    margin: 11px 0 0px 0px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);	
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}


#blog .post_med .post-format-icon:before {
    width: 55px;
    height: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 28px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    text-decoration: none;
}

#blog .post_med a.item-date {
    left: 0;
    width: 55px;
    height: 55px;
    text-align: center;
    position: absolute;
    top: 0;
    opacity: 0;
    display: block;
    color: #FFF !important;
}

.post-format-icon a.item-date span {
    padding-top: 7px;
    margin-bottom: -6px;
    font-size: 26px !important;
    font-weight: bold;
    color: #FFF !important;
}

.post-format-icon a.item-date span {

    display: block;
    clear: both;
    font-size: 12px;
    margin-bottom: -8px;
    color: #FFF !important;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 35% 69%;
    -moz-transform-origin: 35% 69%;
    -ms-transform-origin: 35% 69%;
    -o-transform-origin: 35% 69%;
    transform-origin: 35% 69%;
}

#print,
#downlowd {
    display: block;
    padding: 17px !important;
    margin: 0;
    cursor: pointer;
    float: left;
    text-align: center;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2);
}

.icon_print {
    font-size: 22px;
    display: inline-block;
    cursor: pointer;
    margin: 0;
    width: 42px !important;
    height: 42px !important;
    text-align: center;
    position: relative;
    z-index: 2;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    line-height: 43px;
    color:#fff;
}

#print,
#downlowd { 
    background: rgba(45, 57, 63, 0.8);
}

#print:hover,
#downlowd:hover { 
    background: rgba(45, 57, 63, 1);
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

div.ppt {
    display: none !important;
}
